<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/navbar :: head('Trivia')">
    <script>
        $('body').on('hidden', function () {
            $(this).removeData('modal-content');
        });
    </script>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">

    <form name="myForm" id="submitAnswer" th:action="@{/triviaSubmit}" th:method="POST">
        <div class="row d-flex justify-content-center">
            <th:block th:each="question : ${questions}">
                <div class="col-sm-12 col-lg-6 col-xl-4 d-flex flex-column">
                    <div class="card h-100">
                        <h3 class="card-title" th:text="${question.question}"></h3>
                        <div id="correct_answer_id" style="display: none">
                            <input type="text" th:id="correct_answer_id" th:name="correct_answer_id" th:value="${question.correct_answer}"/>
                        </div>
                        <th:block th:each="answer: ${answers}">
                            <div class="card-body btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary d-inline-block container">
                                    <input type="radio" name="id" th:value="${answer.id}" autocomplete="off" th:text="${answer.answer}"/>
                                </label>
                            </div>
                        </th:block>
                        <div class="card-footer">
                            <a onclick="document.myForm.submit()" id="answer_click" class="btn btn-warning d-block">Submit</a>
                            <h5 class="card-title" th:text="${correct_answer}"></h5>
                            <h5 class="card-title" th:text="${wrong_answer}"></h5>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </form>

</div>

<script th:replace="partials/navbar :: scripts"></script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<script th:inline="javascript">
    JsBarcode(".barcode").init();
</script>
<script>
    // document.getElementById("answer_click").onclick = function(e){
    //     // e.preventDefault();
    //     console.log("this is a test");
    //
    //     fetch('/triviaSubmit').then(function (response) {
    //         if(response.status === 200)
    //             setInterval(function () {
    //                 alert("it works!");
    //             },1000).then(window.location.reload())
    //         else alert("You got it wrong!").then(window.location.reload())
    //     });
    // }

    // SINCE THE CORRECT ANSWER ID AND THE QUESTIONS IDS ARE BEING SENT TO THE FRONTEND,
    // YOU CAN SIMPLY USE JS TO COMPARE THESE VALUES AND ALERT THE USER WITHOUT USING THE BACKEND



</script>
</body>
</html>