<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/navbar :: head('Trivia')">
    <script>
        $('body').on('hidden', function () {
            $(this).removeData('modal-content');
        });
    </script>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <!--<p class="lead">Buena Suerte</p>-->
    <form name="myForm" id="submitAnswer" th:action="@{/triviaSubmit}" th:method="POST">
        <div class="row d-flex justify-content-center">
            <th:block th:each="question : ${questions}">
                <div class="col-sm-12 col-lg-6 col-xl-4 d-flex flex-column">
                    <div class="card h-100">
                        <h3 class="card-title" th:text="${question.question}"></h3>
                        <div id="correct_answer_id" style="display: none">
                            <input type="text" th:id="correct_answer_id" th:name="correct_answer_id" th:value="${question.correct_answer}"/>
                        </div>
                        <th:block th:each="answer: ${answers}">
                            <div class="card-body btn-group btn-group-toggle" data-toggle="buttons">
                                <div style="display: none">
                                    <input type="text" th:value="${answer.id}"/>
                                </div>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="id" autocomplete="off" th:text="${answer.answer}"/>
                                </label>
                            </div>
                        </th:block>
                        <div class="card-footer">
                            <a onclick="document.myForm.submit()" id="answer_click" class="btn btn-outline-primary d-block">Submit</a>
                            <h5 class="card-title" th:text="${correct_answer}"></h5>
                            <h5 class="card-title" th:text="${wrong_answer}"></h5>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </form>
</div>

<script th:replace="partials/navbar :: scripts"></script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<script th:inline="javascript">
    JsBarcode(".barcode").init();
</script>
<script>
    function submitOnClick() {
        document.getElementById("submitAnswer").submit();
    }
</script>
</body>
</html>