<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/navbar :: head('Profile')">
    <script>
        $('body').on('hidden', function () {
            $(this).removeData('modal-content');
        });
    </script>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>This is your profile page</h1>

<div>
    <!--<a th:href="@{/trivia}" class="btn btn-outline btn-outline-primary d-inline-block">Play Game</a>-->
    <a th:onclick="|getQuestion()|" class="btn btn-outline btn-outline-primary d-inline-block">Play Game</a>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="questions" class="container"></div>
            <div class="modal-footer">
                <a style="align-content: center" onclick="document.myForm.submit()" class="btn btn-warning d-block">Siguiente</a>
            </div>
        </div>
    </div>
</div>

<script th:replace="partials/navbar :: scripts"></script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<script th:inline="javascript">
    JsBarcode(".barcode").init();
</script>

<script th:src="@{/js/profile.js}"></script>

</body>
</html>